  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
    }
    body {
      background-color: #111;
      color: #fff;
      padding: 20px;
    }
    h1 {
      text-align: center;
      color: #f00;
      margin-bottom: 20px;
    }
    .dia {
      background: #222;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 12px;
      cursor: pointer;
      transition: background 0.3s;
    }
    .dia:hover {
      background: #333;
    }
    .rutina {
      display: none;
      margin-top: 10px;
      padding-left: 20px;
    }
    .ejercicio {
      background: #1a1a1a;
      padding: 10px;
      margin-bottom: 10px;
      border-left: 4px solid #0af;
      border-radius: 10px;
    }
    .titulo-ejercicio {
      font-weight: bold;
      color: #0af;
    }
    .info {
      color: #ccc;
      margin-top: 5px;
    }
    .video-btn {
      background: none;
      border: none;
      color: #f00;
      font-size: 20px;
      cursor: pointer;
      margin-top: 5px;
    }
    .video-container {
      display: none;
      margin-top: 10px;
    }
    iframe {
      width: 100%;
      max-width: 500px;
      height: 280px;
      border-radius: 10px;
    }

    .cliente-info {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  margin-top: 40px;
  color: #fff;
  border-left: 5px solid #f00;
}
.cliente-info h2 {
  margin-bottom: 15px;
  color: #0af;
}
.cliente-info ul {
  list-style: none;
}
.cliente-info li {
  margin-bottom: 8px;
  font-size: 16px;
}
.cliente-info strong {
  color: #f00;
}
